<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
        <h2>{{ pet.pet_name }}</h2>
        <img src="{{ pet.pet_photo }}" alt="Phot of pet">
        <h2><a href="/pets/{{ pet.pet_id }}">Learn More</a></h2>
    {% endfor %}  
    <div>
        <a href="/facts/new">Submit a new fact </a>
    </div>
</body>
</html>
