<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Facts</title>
</head>
<body>
    <div>
        <h2>Submit Fun Facts</h2>
        <form>
            <label for="name">Name</label>
            <input name="name" type="text">
            <label for="fact">Fact</label>
            <textarea name="fact"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>